<section class="app-bg-escuro d-flex justify-content-center align-items-center" id="habilidades">
    <div class="container">
      <h3 class="display-5 text-center">Minhas habilidades</h3>  
      <div class="row row-cols-1 row-cols-lg-2 g-3 mt-3">
        <div *ngFor="let item of itensHabilidades" class="d-flex align-items-center gap-4">
          <span>
            <i class="bi {{ item.icone }} fs-1"></i>
          </span>  
          <div class="d-flex flex-column">
            <label class="fs-5 fw-semibold">{{ item.titulo }}</label>  
            <small class="fs-6">
                {{ item.descricao }}
            </small>
          </div>
        </div>  
      </div>
    </div>
  </section>
