<section class="app-bg-escuro-2 d-flex justify-content-center align-items-center" id="portfolio">
    <div class="container">
      <h3 class="display-5 text-center">Portfólio</h3>   
      <div class="row flex-wrap justify-content-center g-3 mt-3">
        <div class="col-auto">
            <img
              class="img-fluid rounded-4"
              src="locadora.gif"
              alt="Website da Academia do Programador versão mobile"
            />
        </div>          
        <div class="col">
            <img
              class="img-fluid rounded-4"
              src="cinema.gif"
              alt="Website da Academia do Programador versão mobile"
            />
        </div>  
      </div>
    </div>
  </section>