<section class="app-bg-escuro d-flex justify-content-center align-items-center" id="sobre">
    <div class="container">
        <div class="d-flex justify-content-center p-lg-5">
            <img class="img-fluid rounded-pill" src="Foto2.jpg" alt="Foto Chayanne" width="280">
        </div>
        <br>
        <h2 class="display-6 text-center my-5 my-lg-3">Um pouco sobre mim</h2>
        <div class="row flex-wrap mt-4 mt-lg-5">
            <div class="col-lg-8 mt-lg-2">
                <h3 class="fs-4 fw-normal">
                    Meu nome é 
                    <span class="app-texto-principal">Chayanne Rech</span>
                    , sou uma desenvolvedora Full-Stack
                </h3>
                <p class="mt-3 mt-lg-4 fs-5 fw-light">
                    Estou construindo experiência como desenvolvedora Full-Stack, enquanto aluna da 
                    <span class="app-texto-principal fw-semibold">Academia do Programador</span>
                    , uma empresa focada no ensino e direcionamento de desenvolvedores para o mercado de trabalho. 
                </p>
                <p class="mt-3 mt-lg-4 fs-5 fw-light">
                  Venho desenvolvendo, durante minha formação, vários projetos robustos com diferentes regras de negócio, utilizando a 
                  <span class="app-texto-principal fw-semibold">Plataforma .NET</span> e 
                  <span class="app-texto-principal fw-semibold">Angular</span>                </p>
            </div>
            <div class="col mt-2">
                <ul class="list-group">
                    <li class="list-group-item py-3 app-bg-sobre">
                        <strong>Nome: </strong> Chayanne Possamai Della Rech
                    </li>
                    <li class="list-group-item py-3 app-bg-sobre">
                        <strong>Email: </strong><a class="app-texto-principal" href="mailto:chayannerech@gmail.com">chayannerech&#64;gmail.com</a> 
                    </li>
                    <li class="list-group-item py-3 app-bg-sobre">
                        <strong>Idade:</strong> 25 anos
                    </li>
                    <li class="list-group-item py-3 app-bg-sobre">
                        <strong>De:</strong> Lages/SC
                    </li>
                </ul>
                <div class="d-flex justify-content-center align-items-center gap-3 my-5">
                    <a class="text-light" href="https://github.com/chayannerech">
                        <i class="bi bi-github fs-1"></i>
                    </a>
                    <a class="text-light" href="https://www.linkedin.com/in/chayanne-rech-097447148/">
                        <i class="bi bi-linkedin fs-1"></i>
                    </a>
                    <a 
                        href="https://api.whatsapp.com/send?phone=5549988179570"
                        target="_blank"
                        class="btn btn-lg app-btn-whatsapp fs-6 rounded-5 px-md-4 fw-semibold">
                        Contato via WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>
