<section class="app-bg-medio d-flex justify-content-center align-items-center" id="experiencias">
    <div class="container text-center">
    <h3 class="display-5 text-center">Experiências</h3>   
    <div class="row row-cols-md-3 flex-wrap justify-content-center mt-3 g-3">
      <div *ngFor="let empresa of empresas" class="col">
        <div class="card app-experiencia-itens h-100">
          <div class="card-header">
            <span class="rounded-pill"> {{ empresa.data }} </span>
            <br />
            <img 
              class="my-4 w-75 img-fluid"
              src="{{ empresa.logo }}"
              alt={{empresa.emCasoDeFalha}} />
            <br />
            <label>{{ empresa.cargo }}</label>
          </div>

          <div class="card-body">
            <p>
              <span class="fw-semibold">Habilidades:</span> {{ empresa.stack }}
            </p>
          </div>
        </div>
      </div>

      </div>
    </div>
  </section>
