<section class="app-bg-escuro d-flex justify-content-center align-items-center" id="experiencias">
    <div class="container">
    <h3 class="display-5 text-center">Experiências</h3>   
    <div class="row flex-wrap justify-content-center mt-3 g-3">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <span class="rounded-pill text-bg-primary text-black px-3">Dez/2021 - Atualmente</span>
              <br />
              <img
                class="my-3"
                src="logo-academia.png"
                alt="Logo da Academia do Programador"
              />
              <br />
              <label>Aluna de Programação</label>
            </div>
  
            <div class="card-body">
              <p>
                <span class="fw-semibold">Stack:</span> .NET Framework, .NET 8, Entity Framework Core,
                ASP.NET Core MVC, ASP.NET Web API, MSTest, Docker, Angular.
              </p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <span class="rounded-pill text-bg-primary text-black px-3"> Mar/2021 - Dez/2021 </span>
              <br />
              <img 
                class="my-3"
                src="logo-ndd-secundaria.png"
                alt="Logo da NDD" />
              <br />
              <label>Um dia</label>
            </div>
  
            <div class="card-body">
              <p>
                <span>Stack:</span> .NET Framework, .NET Core, Entity Framework
                Core, ASP.NET Core MVC, ASP.NET Web API, Angular.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
