@import "bootstrap";
@import "bootstrap-icons";

$cor-principal: #f3a2fc;

$cor-bg-navbar: #78befff3;
$cor-bg-claro: #00B4DB;
$cor-bg-medio: #0072A3;
$cor-bg-escuro: #0a3974;

$cor-stack-itens: #006C84;
$cor-sobre-itens: #3584c5bb;
$cor-experiencia-itens: #2781bd;

//Seções
section {
    min-height: 100vh;
}
.app-bg-navbar{
    background-color: $cor-bg-navbar;
}
.app-bg-footer{
    background-color: $cor-bg-escuro;
}
.app-bg-claro{
    background-color: $cor-bg-claro;
    background: -webkit-linear-gradient(to bottom, $cor-bg-navbar, $cor-bg-claro);
    background: linear-gradient(to bottom, $cor-bg-navbar, $cor-bg-claro); 
}
.app-bg-medio{
    background: $cor-bg-escuro;
    background: -webkit-linear-gradient(to bottom, $cor-bg-navbar, $cor-bg-medio);
    background: linear-gradient(to bottom, $cor-bg-navbar, $cor-bg-medio);  
}
.app-bg-escuro{
    background-color: $cor-bg-escuro;
    background: -webkit-linear-gradient(to bottom, $cor-bg-navbar, $cor-bg-escuro);
    background: linear-gradient(to bottom, $cor-bg-navbar, $cor-bg-escuro);  
}
section {
    min-height: 100vh; // vh = view-height
  
    padding-top: 2rem;
    padding-bottom: 2rem;
}


//Componentes
.app-texto-principal{
    color: $cor-principal;
}
.app-bg-sobre{
    background-color: $cor-sobre-itens;
    border-color: $cor-bg-medio;
}
.app-btn-whatsapp{
    background-color: transparent;
    border: 2px solid $cor-bg-escuro;

    &:hover {
        border-color: $cor-principal;
    }
}
.app-stack-itens{
    background-color: #008db1;
    border: 2px solid #80808069;
}
.app-experiencia-itens{
    background-color: $cor-experiencia-itens;
}
.display-5{
    margin: 4rem 0;
}
