@import "bootstrap";
@import "bootstrap-icons";

$cor-principal: #e451f5;
$cor-secundaria: #00B4DB;

$cor-bg-1: #0a3974;
$cor-bg-2: #0072A3;

section {
    min-height: 100vh;
}
.app-texto-principal{
    color: $cor-principal;
}
.app-bg-secundario{
    background-color: $cor-secundaria;
}
.app-bg-secundario{
    background-color: $cor-secundaria;
}
.app-bg-escuro{
    background-color: $cor-bg-2;
    border-color: $cor-bg-1;
}
.app-btn-whatsapp{
    background-color: $cor-bg-2;

    &:hover {
        border-color: $cor-principal;
    }
}
.app-bg-escuro-2{
    background-color: $cor-bg-1;
}
.app-stack-itens{
    background-color: #006C84;
    border-color: #0072A3;
}
.app-experiencia-itens{
    background-color: #0090b8;
}
.display-5{
    margin: 4rem 0;
}
.app-data-experiencia{
    border: 1px solid white;
}